[submodule "src/rosjava_pkg/motion"]
	path = src/rosjava_pkg/motion
	url = git@github.com:rss-2014-team-6/rss-team-6-motion.git
[submodule "src/rosjava_pkg/sensing"]
	path = src/rosjava_pkg/sensing
	url = git@github.com:rss-2014-team-6/rss-team-6-sensing.git
[submodule "src/rosjava_pkg/odometry"]
	path = src/rosjava_pkg/odometry
	url = git@github.com:rss-2014-team-6/rss-team-6-odometry.git
[submodule "src/rosjava_pkg/vision"]
	path = src/rosjava_pkg/vision
	url = git@github.com:rss-2014-team-6/rss-team-6-vision.git
