[submodule "src/rosjava_pkg/motion"]
	path = src/rosjava_pkg/motion
	url = https://github.com/rss-2014-team-6/rss-team-6-motion.git
[submodule "src/rosjava_pkg/sensing"]
	path = src/rosjava_pkg/sensing
	url = https://github.com/rss-2014-team-6/rss-team-6-sensing.git
[submodule "src/rosjava_pkg/odometry"]
	path = src/rosjava_pkg/odometry
	url = https://github.com/rss-2014-team-6/rss-team-6-odometry.git
[submodule "src/rosjava_pkg/vision"]
	path = src/rosjava_pkg/vision
	url = https://github.com/rss-2014-team-6/rss-team-6-vision.git
[submodule "src/rosjava_pkg/path_planning"]
	path = src/rosjava_pkg/path_planning
	url = https://github.com/rss-2014-team-6/rss-team-6-path-planning.git
[submodule "src/rosjava_pkg/localization"]
	path = src/rosjava_pkg/localization
	url = https://github.com/rss-2014-team-6/rss-team-6-localization.git
[submodule "src/rosjava_pkg/state_machine"]
	path = src/rosjava_pkg/state_machine
	url = https://github.com/rss-2014-team-6/rss-team-6-state-machine.git
